:root {
  --background: rgba(230, 231, 164, 0.815);
  --titleColor: rgba(245, 84, 9, 0.733);
  --letterColor: rgba(247, 125, 68);

  --letterHover: rgba(255, 0, 0, 0.548);
  --letterBackHover: rgba(255, 0, 0, 0.26);

  --topicFont: Rubik;
  --letterFont: ubuntu;

  --card: rgba(245, 84, 9, 0.281);
}
.darkMode {
  --background: rgb(0, 0, 0);
  --titleColor: rgb(255, 255, 255);
  --letterColor: rgba(255, 255, 255, 0.658);

  --letterHover: rgba(102, 93, 93, 0.425);
  --letterBackHover: rgba(230, 0, 0, 0.26);

  --card: rgb(70, 66, 66);
}
#test {
  width: fit-content;
  visibility: hidden;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}
#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
}
#topic {
  font-family: var(--topicFont);
  color: var(--titleColor);
  justify-self: flex-start;
  width: fit-content;
  align-self: center;
}
span {
  font-size: 12px;
}
#span {
  font-size: 20px;
}
#keys {
  font-family: var(--letterFont);
  font-size: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 475px;
  align-self: center;
  margin-bottom: 50px;
  visibility: hidden;
}
.key {
  border: 1px solid var(--letterHover);
  width: 50px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  color: var(--letterColor);
  background: none;
  /*box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.75),0px 0px 5px -1px rgba(0,0,0,0.75)inset;*/
}
.keyYes {
  opacity: 0;
  cursor: default;
}
@keyframes keyYesAni {
  0% {
    transform: translateY(-5px);
    opacity: 1;
  }
  25% {
    transform: translateY(-10px);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-15px);
    opacity: 0.5;
  }
  75% {
    transform: translateY(-20px);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-25px);
    opacity: 0;
  }
}
@keyframes ans {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  25% {
    transform: translateY(15px);
    opacity: 0.2;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.5;
  }
  75% {
    transform: translateY(-5px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.key:hover {
  background-color: var(--letterColor);
  color: var(--background);
}
.guessingWord {
  width: 475px;
  height: 350px;
  align-self: center;
  display: flex;
  justify-content: center;
}
.blankDiv {
  width: fit-content;
  height: fit-content;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 100px;
  align-self: flex-end;
  margin-left: 20px;
}
.blankBtn {
  background: none;
  font-size: 40px;
  border: none;
  color: var(--letterColor);
  text-align: center;
}
#lives {
  font-family: ubuntu;
  color: var(--letterColor);
}
#start {
  background: none;
  height: fit-content;
  width: fit-content;
  border: 1px solid var(--letterColor);
  color: var(--titleColor);
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.548);
  border-radius: 20px;
  animation: start;
}
@keyframes start {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.3);
  }
}
ol {
  padding-left: 30px;
  color: var(--letterColor);
}
li {
  margin-top: 20px;
}
#howToPlay {
  cursor: default;
  visibility: visible;
  background-color: var(--card);
  color: var(--titleColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  position: fixed;
  bottom: 50px;
  justify-content: space-around;
  font-family: Rubik;
  border-radius: 20px;
  height: 400px;
  padding: 10px;
  box-shadow: 0px 0px 15px 2px rgba(255, 0, 0, 0.548),
    1px 0px 5px -1px rgba(255, 0, 0, 0.548) inset;
  animation: on 1s ease-in;
}
@keyframes on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#lives > span {
  font-size: inherit;
}
#lives {
  visibility: hidden;
  position: fixed;
}
.end {
  background-color: var(--card);
  width: 400px;
  height: 300px;
  border: 1px solid var(--letterColor);
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: ubuntu;
  font-size: 25px;
  color: var(--titleColor);
  left: 35%;
  top: 40%;
  visibility: hidden;
  padding: 0;
  justify-content: center;
  align-items: center;
  line-height: 2em;
  box-shadow: 0px 0px 15px 2px rgba(255, 0, 0, 0.548),
    1px 0px 5px -1px rgba(255, 0, 0, 0.548) inset;
  animation: on 1s ease-in;
}
#endTitle {
  margin-top: 10px;
  margin-bottom: 10px;
}
#btnE {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  height: 200px;
  width: 100%;
}
.endBtn {
  width: fit-content;
  height: fit-content;
  background-color: var(--background);
  border: none;
  color: var(--letterColor);
  border-radius: 10px;
  cursor: pointer;
  font-size: 40px;
  box-shadow: 0px 0px 15px 2px rgba(255, 0, 0, 0.548),
    1px 0px 5px -1px rgba(255, 0, 0, 0.548) inset;
  animation: on 1s ease-in;
}
.fas {
  font-size: 50px;
  color: var(--letterBackHver);
}
#update {
  position: fixed;
  right: 60px;
  top: 50px;
  cursor: pointer;
  font-family: Rubik;
  color: var(--titleColor);
  margin: 0;
  animation: update 8s infinite forwards;
}
@keyframes update {
  0% {
  }
  2% {
    transform: translateY(0px) rotate(-2deg);
  }
  4% {
    transform: translateY(-5px) rotate(2deg);
  }
  5% {
    transform: translateY(-10px) rotate(-4deg);
  }
  8% {
    transform: translateY(-17px) rotate(4deg);
  }
  10% {
    transform: translateY(-10px) rotate(-8deg);
  }
  16% {
    transform: translateY(-5px) rotate(8deg);
  }
  20% {
    transform: translateY(-2px);
  }
}
@keyframes update1 {
  0% {
    visibility: hidden;
    transform: translateY(-100px);
  }
}
#new {
  position: fixed;
  right: 10px;
  top: 100px;
  border-radius: 20px;
  cursor: default;
  font-family: Ubuntu;
  color: var(--letterColor);
  background-color: var(--card);
  width: 200px;
  visibility: hidden;
}
@keyframes in {
  from {
    right: -400px;
  }
  to {
    right: 10px;
  }
}
@keyframes out {
  from {
    right: 10px;
  }
  to {
    right: -400px;
  }
}
#version {
  margin: 0px;
  position: fixed;
  right: 10px;
  bottom: 5px;
  font-size: 12px;
  color: var(--letterColor);
  cursor: default;
}

/* responsive*/
/*phone*/
@media screen and (max-width: 767px) {
  main {
    max-width: fit-content;
    height: 100vh;
    background-color: var(--background);
    position: fixed;
  }
  #update {
    right: 50px;
    top: 70px;
    z-index: 100;
  }
  #new {
    right: 35px;
    top: 90px;
    width: 130px;
    font-size: 12px;
    z-index: 100;
  }
  @keyframes in {
    from {
      right: -400px;
    }
    to {
      right: 35px;
    }
  }
  #howToPlay {
    bottom: 50px;
    width: 275px;
    height: fit-content;
  }
  .guessingWord {
    max-width: 200px;
    height: 350px;
  }
  .blankDiv {
    width: 20px;
    height: fit-content;
    margin-bottom: 90px;
    margin-left: 12px;
  }
  #keys {
    font-size: 10px;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: fit-content;
    margin-bottom: 80px;
  }
  .end {
    width: 200px;
    height: 150px;
    font-size: 10px;
    left: 23.5%;
  }
  .endBtn {
    width: fit-content;
    height: fit-content;
    font-size: 15px;
  }
  #btnE {
    margin: 0;
  }
  .fas {
    font-size: 20px;
  }
  #span {
    font-size: 10px;
    margin-top: 6px;
  }
}
@media screen and (max-width: 380px) {
  #keys {
    grid-gap: 10px;
    max-width: fit-content;
    height: 150px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 80px;
  }
  .end {
    width: 250px;
    height: 200px;
    font-size: 10px;
    left: 17%;
  }
}
